<a href="https://colab.research.google.com/github/S10955013/bigdata/blob/main/0309.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

變數練習

In [7]:
a <- 5
b <- 3.8
c <- -1 
str(a)
str(b)
str(c)

 num 5
 num 3.8
 num -1

In [9]:
is.numeric(a)

[1] TRUE

In [10]:
is.integer(a)

[1] FALSE

In [11]:
d <- "Hello"
e <- "Hi"

In [12]:
str(d)
str(e)

 chr "Hello"
 chr "Hi"

In [14]:
f <- c(5,4,3,2,1)
g <- c("陳韋臻","陳雙雙","陳昱臻")

In [17]:
f[4]
g[3]
g[c(1,2)]

[1] 2

[1] "陳昱臻"

[1] "陳韋臻" "陳雙雙"

In [21]:
h <-c(1,2,3,4,5,6,7,8,9)
i <-c(1,3,5,7,9,11,13)

h * i
h^10
i>4

Warning message in h * i:
“longer object length is not a multiple of shorter object length”

[1]  1  6 15 28 45 66 91  8 27

[1]          1       1024      59049    1048576    9765625   60466176  282475249
[8] 1073741824 3486784401

[1] FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE

In [22]:
gender <- c("男","女","男","男","女","中")
gender <- factor(gender)
gender
levels(gender)

[1] 男 女 男 男 女 中
Levels: 中 女 男

[1] "中" "女" "男"

In [23]:
j <- matrix(c(1:6), nrow=3, ncol=2)
j
k <- matrix(c(7:12), nrow=2, ncol=3)
k

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

     [,1] [,2] [,3]
[1,] 7     9   11
[2,] 8    10   12

In [24]:
j[2,2]
j[2,]
j[,2]

[1] 5

[1] 2 5

[1] 4 5 6

In [28]:
tmp <- data.frame(Student_ID=c(1,2,3,4,5),
          name=c("陳昱臻","陳雙雙","陳韋臻","黃利宸","林倚萱"),
          score=c(80,36,88,90,55))
tmp

  Student_ID name   score
1 1          陳昱臻 80
2 2          陳雙雙 36
3 3          陳韋臻 88
4 4          黃利宸 90
5 5          林倚萱 55

In [29]:
tmp[2,3]
tmp[,2]
tmp$name == "陳雙雙"
tmp[tmp$name=="陳昱臻",]

[1] 36

[1] "陳昱臻" "陳雙雙" "陳韋臻" "黃利宸" "林倚萱"

[1] FALSE  TRUE FALSE FALSE FALSE

  Student_ID name   score
1 1          陳昱臻 80

In [40]:
install.packages("SportsAnalytics")

library(SportsAnalytics)
NBA1516<-fetch_NBAPlayerStatistics("15-16")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [41]:
str(NBA1516)

'data.frame':	476 obs. of  25 variables:
 $ League             : Factor w/ 1 level "NBA": 1 1 1 1 1 1 1 1 1 1 ...
 $ Name               : chr  "Quincy Acy" "Jordan Adams" "Steven Adams" "Arron Afflalo" ...
 $ Team               : Factor w/ 31 levels "ATL","BOS","BRO",..: 27 15 22 20 19 13 28 26 12 15 ...
 $ Position           : Factor w/ 5 levels "C","PF","PG",..: 4 5 1 5 1 1 2 2 2 5 ...
 $ GamesPlayed        : int  59 2 80 71 59 60 74 9 79 64 ...
 $ TotalMinutesPlayed : int  877 15 2019 2359 863 802 2260 37 1601 1622 ...
 $ FieldGoalsMade     : int  119 2 261 354 150 134 536 5 191 215 ...
 $ FieldGoalsAttempted: int  214 6 426 799 314 225 1045 10 370 469 ...
 $ ThreesMade         : int  19 0 0 91 0 0 0 0 0 15 ...
 $ ThreesAttempted    : int  49 1 0 238 1 0 16 0 0 42 ...
 $ FreeThrowsMade     : int  50 3 114 110 52 60 259 0 46 90 ...
 $ FreeThrowsAttempted: int  68 5 196 131 62 84 302 0 73 138 ...
 $ OffensiveRebounds  : int  65 0 218 23 75 86 175 2 162 104 ...
 $ TotalRebounds      : int  188 2 531 266 269 288 631 6 424 297 ...
 $ Assists            : int  27 3 61 145 32 50 110 0 76 70 ...
 $ Steals             : int  29 3 42 25 19 47 38 1 26 109 ...
 $ Turnovers          : int  27 2 84 82 54 64 99 1 69 78 ...
 $ Blocks             : int  24 0 89 10 36 68 81 2 42 18 ...
 $ PersonalFouls      : int  103 2 223 142 134 139 151 1 147 175 ...
 $ Disqualifications  : int  0 0 2 1 0 1 0 0 1 1 ...
 $ TotalPoints        : int  307 7 636 909 352 328 1331 10 428 535 ...
 $ Technicals         : int  3 0 2 1 2 0 0 0 0 1 ...
 $ Ejections          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ FlagrantFouls      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ GamesStarted       : int  29 0 80 57 17 5 74 0 28 56 ...

In [42]:
head(NBA1516)

  League Name          Team Position GamesPlayed TotalMinutesPlayed
1 NBA    Quincy Acy    SAC  SF       59           877
2 NBA    Jordan Adams  MEM  SG        2            15
3 NBA    Steven Adams  OKL  C        80          2019
4 NBA    Arron Afflalo NYK  SG       71          2359
5 NBA    Alexis Ajinca NOR  C        59           863
6 NBA    Cole Aldrich  LAC  C        60           802
  FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
1 119            214                 19          49             ⋯ 29
2   2              6                  0           1             ⋯  3
3 261            426                  0           0             ⋯ 42
4 354            799                 91         238             ⋯ 25
5 150            314                  0           1             ⋯ 19
6 134            225                  0           0             ⋯ 47
  Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
1 27        24     103           0                 307         3
2  2         0       2           0                   7         0
3 84        89     223           2                 636         2
4 82        10     142           1                 909         1
5 54        36     134           0                 352         2
6 64        68     139           1                 328         0
  Ejections FlagrantFouls GamesStarted
1 0         0             29
2 0         0              0
3 0         0             80
4 0         0             57
5 0         0             17
6 0         0              5